<h1>
  This is Presentation of Data Binding
</h1>
<br>
<br>

<h2>Data Binding Without Using interpolation</h2>
<p>Name: {{data[1].name}}, Age: {{data[1].age}}, Branch: {{data[1].branch}}, Status: {{data[1].active}}</p>



<h2>Using for and if</h2>

<ul>
  <span *ngFor="let item of data">

    <li *ngIf="item.active === true">{{item.name}}</li>
  </span>
</ul>
<!-- @for(item of data; track $index){
  @if(item.active==true){
    <li>{{item.name}}</li>
  }
}@empty{
  <li>there are no item</li>
} -->

<br><br>
<h2>Using switch</h2>

<!-- @for(item of data; track $index){
  @switch(item.name){
    @case('Alok'){
       <b>Hello:{{item.name}}</b>
       
    }
    @case('Akash'){
      <b>Hello: {{item.name}}</b>
    }
  }
} -->
<div [ngSwitch]="'Alok'">
  <div *ngFor="let name of data">
    <div *ngSwitchCase="name.name">
      <p>{{ name.name }} found!</p>
    </div>
  </div>
  
</div><br><br>

<h1>ngStyle and ngClass directive</h1>
<h4 [ngStyle]="{'background-color':'green'}">Hello frainds</h4>
<h4 [ngClass]=" {'two':name=='alok'}">NgClass</h4><br><br>


<h1>attribute binding</h1>
 <table border="1">
  <tr >
    <td [attr.colspan]="col">Student Details</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>Alok</td>
  </tr>
  <tr>
    <td>Branch</td>
    <td>IT</td>
  </tr>
 </table>

 <br><br>

 <h1>Property Binding</h1>
 <h4 [innerHtml]="title"></h4><br><br>

 <h1>Style Binding</h1>
 <h4 [style.color]="givenColor">Hello</h4>
<br>

<h1>Class Binding</h1>
<h4 [class]="classBinding">hello</h4><br>

<h1>Event binding</h1>
<button (click)="handlebutton()">Click Me</button>
<h4>{{eventBinding}}</h4><br>


<h1>Two DataBinding</h1>
<input type="text" #textData>
<button (click)="handleInput(textData.value)">Submit</button>
<h4>{{inputData}}</h4>
